● telegrambot.service - Telegram Subscription Check Bot
     Loaded: loaded (/etc/systemd/system/telegrambot.service; enabled; vendor preset: enabled)
     Active: activating (auto-restart) (Result: exit-code) since Tue 2025-04-15 07:19:24 UTC; 4s ago
    Process: 1827617 ExecStart=/opt/beget/bots/subbot/venv/bin/python3 /opt/beget/bots/subbot/main.py [0;1;31m(code=exited, status=2)[0m
   Main PID: 1827617 (code=exited, status=2)
        CPU: 37ms

Apr 15 07:19:24 wiypsrjkqm systemd[1]: [0;1;39m[0;1;31m[0;1;39mtelegrambot.service: Main process exited, code=exited, status=2/INVALIDARGUMENT[0m
Apr 15 07:19:24 wiypsrjkqm systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mtelegrambot.service: Failed with result 'exit-code'.[0m
